[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo
[submodule "public"]
	path = public
	url = https://github.com/daz261/dreamteam.github.io
	branch = master
